html, body {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#canvasDiv {
  position: relative;
  width: 100%;
  height: 100%;
}
canvas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  position: absolute;
  left: 0;
  top: -100000px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

pre {
  position: relative;
  text-align: left;
  overflow: scroll;
}

#helpToggle{
  position: absolute;
  bottom: 0;
  right: 0;
}
#soundToggle{
  position: absolute;
  top: 0;
  right: 0;
}
#helpDiv, #soundDiv{
  position: relative;
  cursor: pointer;
  z-index: 1;
}
#helpIcon, #soundIcon{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.openNav #helpIcon, .openNav #soundIcon{
  color: rgba(255, 255, 255, 0.9);
}
header.openNav{
  z-index: 1;
  top: 0;
  left: 0;
}

@media(min-width: 0px){
  #helpToggle, #soundToggle{
    margin: 40px;
    width: 60px;
    height: 50px;
  }
  #helpDiv, #soundDiv{
    height: 50px;
  }
}
@media(min-width: 1000px){
  #helpToggle, #soundToggle{
    margin: 20px;
    width: 30px;
    height: 25px;
  }
  #helpDiv, #soundDiv{
    height: 25px;
  }
}
